# Created by .ignore support plugin (hsz.mobi)
##----------idea----------
*.iml
.idea/
*.ipr
*.iws

##----------auto----------
target/*
log/*
build/*
allure-results/*
pjsipLog/*
pic/*
pjsip.log

##----------other----------
/src/main/java/com/yeastar/yeastar/swebtest/tools/pjsip/PjsipDll.java
/src/test/resources/config.properties
/src/test/resources/data.properties
