# Created by .ignore support plugin (hsz.mobi)
##----------idea----------
*.iml
.idea/
*.ipr
*.iws

##----------auto----------
target/*
log/*
build/*
allure-results/*
pjsipLog/*
pic/*
pjsip.log

##----------other----------
PjsipDll.java
/src/test/resources/config.properties
/src/test/resources/data.properties
SwebTest.iml
src/main/resources/driver/
src/main/resources/env/
src/main/resources/pjsip/windows-i386-32/
src/main/resources/win32-x86/
