# Created by .ignore support plugin (hsz.mobi)
.idea
target
log/
./log
.vscode
.vscode/
.vscode/*
log/*
/build/*
allure-results
allure-results/*
localLog
pic
SwebTest.iml
SwebTest/log
SwebTest/.vscode
pic
/pjsip.log
/src/main/java/com/yeastar/yeastar/swebtest/tools/pjsip/PjsipDll.java
/CDR修改说明.txt
/src/main/resources/driver/chrome/chromedriver3.exe
/src/test/java/com/yeastar/testcase/pseries/mytest.java
/src/test/resources/config.properties

